{% load static %}
<div class="nav-button-container" style='background-color: {{changes.navigation_bar_background_color}};'>
        <div id='navigation-stack-button' class='col col-sm-40' style='display: flex;
  align-items: center; justify-content: center; width: 100%; color:  {{changes.navigation_button_text_color}}; background-color:{{changes.navigation_button_background_color}}'>Menu ▼</div>
  
        <div class='social-share' >
            <a href="https://custom-blog.herokuapp.com/" style='border-radius:3px; background-color:white; font-color:white; padding:2%; text-decoration:none; margin-right:1.5%; font-size:1.5em; align-items:center; justify-content:center;'>HOME</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcustom-blog.herokuapp.com%2F{{page_name|urlencode}}&quote=Custom%Blog" title="Share on Facebook" target="_blank"><img style="width:40px; padding-top:0;" src="{% static 'images/Facebook.png' %}" alt=""/></a>
            <a href="https://twitter.com/intent/tweet?source=httpshttps%3A%2F%2Fcustom-blog.herokuapp.com%2F{{page_name|urlencode}}&text=Custom%20Blog:%20https%3A%2F%2Fcustom-blog.herokuapp.com%2F" target="_blank" title="Tweet"><img style="width:40px; padding-top:0;" src="{% static 'images/Reddit.png' %}" alt=""/></a>
            <a href="http://www.reddit.com/submit?url=https%3A%2F%2Fcustom-blog.herokuapp.com%2F{{page_name|urlencode}}&title=Custom%20Blog" target="_blank" title="Submit to Reddit"><img style="width:40px; padding-top:0;" src="{% static 'images/Twitter.png' %}" alt=""/></a>
        </div>
    </div>

    <nav  id='navigation-buttons' style="display:none; ">
         
        <div class='sub-nav'>
            {% for x in topic_item %}
            <div  id='nav-button{{x.header_id}}' class='nav-button' style='background-color:{{changes.navigation_bar_sub_buttons_background_color}}; color:{{changes.navigation_bar_sub_button_font_color}}; border:0;'>{{x.topic_name}}</div>
            {% endfor %}
        </div>
        {% for x in topic_item %}
        <div style="display: none;" class="topic-description" id='topic-description{{x.header_id}}'>
        <div class='newcard'>
            <h1 class='display-6'>{{x.topic_description}}</h1>
            <img src="/media/{{ x.topic_image}}" alt="" />
            <br /> 
            <div class='topic-button-container'>
                <div class="topicnavbutton" id="read-more{{x.header_id}}"> <a href="{% url 'topic' %}?topic={{x.header_id}}" role="button">Check out more</a></div>
            <div class="topicnavbutton" id='close-nav-button{{x.header_id}}' href="#" role="button">Close</a>
            </div>
        </div>
        </div>
    </div>

        {% endfor %}

    </nav>

    <script>
    {% for x in topic_item %}

    $("#nav-button{{x.header_id}}").click(
        function() {
            $(".nav-button").removeClass('bolder');
            if ($('.topic-description').is(':visible')) {
                $(".topic-description").slideUp(200);
                $("#topic-description{{x.header_id}}").slideIn(200);
            }
            if ($('.topic-description').is(':visible')) {
                $(".topic-description").slideUp(200);
                $("#topic-description{{x.header_id}}").slideIn(200);
            }
           else{
                $("#topic-description{{x.header_id}}").slideDown(200);
           }
            $("#nav-button{{x.header_id}}").toggleClass('bolder');
              $(".wrapper").fadeOut(300);  
            $(".page-container").addClass('make-bigger');   
        }); 
    {% endfor %}
    </script>
    {% for x in topic_item %}
    
    {% endfor %}
    <script>
    {% for x in topic_item %}
    $("#close-nav-button{{x.header_id}}").click( 
    function() {
        $("#topic-description{{x.header_id}}").slideUp();
        $(".nav-button").removeClass('bolder');

    }); 
    {% endfor %}
    </script>
    <script>
    $("#navigation-stack-button").click(function() {
        $("#navigation-buttons").slideToggle(500);
        $(".topic-description:visible").hide(400);
        $(".nav-button").removeClass('bolder');
         if ($('.wrapper').is(':hidden')) {
            $(".wrapper").fadeIn(300);  
            $(".page-container").removeClass('make-bigger');   
        }   

    });
    </script>
    </div>